/* BODY */
body {background-color: #e6e6e6; margin: 0px}
article.body {
	min-height: calc(100vh - 420px);
	padding: 180px 20px 20px 20px;
	z-index: 2;
}

/* HEADER */
nav.header div.right {display: flex}
header:hover {padding: 26px 20px 26px 20px}
nav.header, a.logo, div.right a, a.cart, div.languages {align-items: center; display: flex; z-index: 1}
header {
	box-shadow: 0px 2.6px 10px 2px #58595f;
	background-color: #17161a;
	transition: padding 600ms;
	width: 100%;
	z-index: 10;
	padding: 20px;
	position: fixed;
}

a.logo {color: white; font-size: 30px; transition: color 600ms}
a:link, a:visited, a:hover, a:active {text-decoration: none}
a.logo:hover img {transform: rotate(20deg)}
a.logo:hover {color: #504f52}
a.logo img {
	width: 42px;
	padding: 0px 6px 0px 6px;
	transition: transform 600ms;
}

div.search form {display: flex}
div.right {margin-right: 40px; z-index: 0}
div.right a span, a.cart span, a.logo span {white-space: nowrap}
div.search {width: 50%; margin: auto; display: block}
div.search input {
	z-index: 2;
	width: 100%;
	border: 0px;
	padding: 8px;
	border-radius: 6px 0px 0px 6px;
}

div.search input:focus ~ button.float {
	position: fixed;
	cursor: auto;
	z-index: 1;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	transform: translate(-50%, -50%);
	background-color: rgba(0, 0, 0, 0.6);
	transition: width 200ms ease-out;
}

div.search button {
	padding: 8px;
	width: 60px;
	border: 0px;
	border-color: white;
	border-radius: 0px 6px 6px 0px;
	cursor: pointer;
}

a.cart {padding: 0px 6px 0px 12px}
a.cart span {padding: 0px 8px 0px 0px}
div.right a img.profile {width: 42px}
div.right a img, a.cart img {width: 36px; padding: 0px 6px 0px 6px}
div.right a:hover, a.cart:hover {font-size: 20px}
div.right a, a.cart {
	color: white;
	font-size: 0px;
	transition: font-size 600ms;
}

div.languages:hover a img.language {width: 42px}
div.languages a img.language {width: 0px; transition: width 600ms}
img.language {width: 42px; padding: 0px 6px 0px 0px}

/* INDEX */
/* FOOTER */
footer {width: 100%; background-color: #17161a}
footer nav {
	padding: 20px;
	display: table;
	margin: 0 auto;
}

footer nav span, span.author {
	color: white;
	padding: 6px;
	display: block;
	font-size: 16px;
	text-align: center;
}

nav div.social-media {display: flex}
nav.social-media {margin: auto; display: flex}
div.social-media a {padding: 0px 12px 0px 12px}
div.social-media a img {
	width: 20px;
	padding: 0px 0px 6px 0px;
	margin: 0 auto;
	display: block;
}

div.social-media a:hover span {font-size: 20px}
div.social-media a span {
	padding: 0px;
	font-size: 0px;
	transition: font-size 600ms;
}

footer div.flaticon {padding: 12px}
footer div.flaticon img:hover {width: 400px; padding: 20px 0px 30px 0px;}
footer div.flaticon img {
	width: 320px;
	margin: auto;
	display: block;
	padding: 10px 0px 20px 0px;
	transition: width 600ms, padding 600ms;
}
a.underline:hover {text-decoration-color: white; font-size: 20px; margin: 10px}
a.underline {
	text-underline-offset: 0.30em;
	text-decoration: transparent underline 0.06em;
	transition: text-decoration 260ms, font-size 640ms, margin 420ms;
	font-size: 16px;
	color: white;
}