/* Corpo do componente */
html {font-family: Arial, Helvetica, sans-serif}
body {background-color: #e6e6e6; margin: 0px}
article.body {
	min-height: calc(100vh - 160px);
	padding: 120px 20px 20px 20px;
	z-index: 2;
}

/* Cabeçalho do componente */
nav.header div.right {display: flex}
header:hover {padding: 26px 20px 26px 20px}
nav.header, a.logo, div.right a, div.languages {align-items: center; display: flex; z-index: 1}
header {
	box-shadow: 0px 1.26px 10px 2px #000000bd;
	background-color: #17161a;
	transition: padding 600ms;
	position: fixed;
	padding: 20px;
	z-index: 10;
	width: 100%;
}

a:link, a:visited, a:hover, a:active {text-decoration: none}
a.logo div {
	border-radius: 100% 90% 90% 90%;
	background-color: #2d2c30;
}

a.logo img {
	transition: transform 600ms, padding 600ms, width 600ms;
	padding: 0px 6px 0px 6px;
	z-index: 10;
	width: 46px;
}

a.logo:hover img {
	padding: -2px 6px -2px 6px;
	transform: rotate(20deg);
	width: 52px;
}

a.logo span {
	z-index: 6;
	left: -26px;
	color: white;
	font-size: 30px;
	position: relative;
	margin-right: -16px;
	transition: font-size 600ms, left 620ms, margin-right 620ms;
}

a.logo:hover span {
	left: -10px;
	margin-right: 0px;
	font-size: 30.26px;
}

div.right {margin-right: 40px; z-index: 0}
div.right a span, a.logo span {white-space: nowrap}
div.right a img {width: 36px; padding: 0px 6px 0px 6px}
div.right a img.profile {width: 42.6px}
div.right a {
	color: white;
	font-size: 20px;
}

div.right a:hover {font-size: 20px}
div.right a {
	color: white;
	font-size: 0px;
	transition: font-size 600ms ease-out;
}

div.languages:hover a img.language {width: 42px}
div.languages a img.language {width: 0px; transition: width 600ms}
img.language {width: 42px; padding: 0px 6px 0px 0px}

/* Campo de busca do cabeçalho */
div.search {width: 100%; margin: auto; display: block}
div.search input {
	z-index: 2;
	width: 100%;
	border: 0px;
	padding: 8px;
	margin: 0px 0px 0px 60px;
	border-radius: 6px 0px 0px 6px;
}

div.search form {display: flex}
div.search input:focus {margin: 0px 50px 0px 60px}
div.search input:focus ~ button.float {
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: auto;
	position: fixed;
	transform: translate(-50%, -50%);
	transition: width 200ms ease-out;
	background-color: rgba(0, 0, 0, 0.6);
}

div.search button {
	padding: 8px;
	width: 60px;
	border: 0px;
	cursor: pointer;
	border-color: white;
	margin: 0px 50px 0px 0px;
	border-radius: 0px 6px 6px 0px;
}

/* Índice do componente */
div.component {display: flex}
div.component div.commerce:hover {border-radius: 2vh}
div.component div.commerce {
	width: 45%;
	height: 10%;
	padding: 2%;
	margin: 0px 1% 0px 1%;
	background-color: black;
	border-radius: 6vh 2vh 6vh 2vh;
	transition: border-radius 620ms;
}

div.commerce span {
	font-size: 3.6vh;
	color: white;
	width: 100%;
}

/* Janela de conexão */
div.connection {justify-content: space-evenly; display: flex}
div.connection form {
	box-shadow: 0px 0px 12.62px -10px #000000;
	background-color: white;
	height: max-content;
	border-radius: 1vh;
	text-align: center;
	padding: 4.26vh;
	width: 40vh;
}

div.connection span.title {
	display: block;
	font-size: 3.62vh;
}

div.connection hr {
	width: 80%;
	margin-top: 2.60vh;
	margin-bottom: 2vh;
	border-top: 0.06vh solid rgb(0, 0, 0);
}

div.connection a:hover {padding: 0.60vh}
div.connection a {
	margin: auto;
	color: blue;
	display: block;
	margin-top: 3.2vh;
	font-size: 2.70vh;
	width: max-content;
	transition: padding 600ms;
}

div.connection div {position: relative}
div.connection input {
	width: 100%;
	border: none;
	margin: 1.26vh 0;
	outline: none;
	color: white;
	font-size: 1.92vh;
	border-radius: 1vh;
	padding: 1.82vh 2.26vh;
	box-sizing: border-box;
	border: 0.2vh solid #ccc;
	transition: border 600ms, color 260ms;
}

div.connection input:valid,
div.connection input:focus {color: #17161a}
div.connection input:focus {border: 0.2vh solid rgb(0, 0, 0)}
div.connection label {
	left: 2.62vh;
	bottom: 3.142vh;
	font-size: 2vh;
	position: absolute;
	pointer-events: none;
	background-color: white;
	transition: transform 600ms, padding 1s, bottom 600ms;
}

div.connection input:valid ~ label,
div.connection input:focus ~ label {
	bottom: 6.126vh;
	padding: 0vh 1vh 0vh 1vh;
	transform: translateX(-1vh);
}

div.connection input#submit:hover {opacity: 90%; padding: 2.20vh}
div.connection input#submit {
	border: none;
	color: white;
	cursor: pointer;
	font-size: 2.62vh;
	background-color: #17161a;
	transition: opacity 260ms, padding 260ms;
}

/* Rodapé do componente */
footer {width: 100%; background-color: #17161a}
footer nav {
	padding: 20px;
	display: table;
	margin: 0 auto;
}

footer nav span, span.author {
	color: white;
	padding: 6px;
	display: block;
	font-size: 16px;
	text-align: center;
}

nav div.social-media {display: flex}
nav.social-media {margin: auto; display: flex}
div.social-media a {padding: 0px 12px 0px 12px}
div.social-media a img {
	width: 20px;
	padding: 0px 0px 6px 0px;
	margin: 0 auto;
	display: block;
}

div.social-media a:hover span {font-size: 20px}
div.social-media a span {
	padding: 0px;
	font-size: 0px;
	transition: font-size 600ms;
}

footer div.flaticon {padding: 12px}
footer div.flaticon img:hover {width: 400px; padding: 20px 0px 30px 0px;}
footer div.flaticon img {
	width: 320px;
	margin: auto;
	display: block;
	padding: 10px 0px 20px 0px;
	transition: width 600ms, padding 600ms;
}
a.underline:hover {text-decoration-color: white; font-size: 20px; margin: 10px}
a.underline {
	text-underline-offset: 0.30em;
	text-decoration: transparent underline 0.06em;
	transition: text-decoration 260ms, font-size 640ms, margin 420ms;
	font-size: 16px;
	color: white;
}

/* Exibimento da mensagem */
@keyframes display {
	0% {
		bottom: -20%;
		opacity: 0%;
	}
}

button.message img {width: 1.62em; padding-right: 0.62em}
button.message:hover {padding: 1em; opacity: 26%}
button.message {
	border: 0px;
	left: 4.2vh;
	opacity: 100%;
	display: flex;
	bottom: 4.2vh;
	color: white;
	position: fixed;
	max-width: 30em;
	cursor: pointer;
	padding: 0.60em;
	font-size: 2.26vh;
	text-align: justify;
	align-items: center;
	word-wrap: break-word;
	border-radius: 0.62em;
	animation: 600ms ease-out display;
	background-color: rgb(39, 38, 43);
	transition: padding 600ms, opacity 260ms, bottom 600ms;
}

/* Rolagem do componente */
html {scroll-behavior: smooth}
.scrollButton img {width: 16em}
.scrollButton:hover {padding: 3vh; opacity: 42%}
.scrollButton {
	border: 0px;
	right: 4.2vh;
	bottom: 4.2vh;
	opacity: 100%;
	display: flex;
	position: fixed;
	cursor: pointer;
	padding: 2.26vh;
	font-size: 0.32vh;
	visibility: hidden;
	border-radius: 4.62em;
	background-color: rgb(39, 38, 43);
	transition: padding 600ms, opacity 260ms, bottom 600ms;
}