/* Corpo do componente */
a:link, a:visited, a:hover, a:active {text-decoration: none}
html {font-family: Arial, Helvetica, sans-serif}
body {background-color: #e6e6e6; margin: 0px}
article.body {
	min-height: calc(100vh - 160px);
	padding: 132px 20px 20px 20px;
	z-index: 2;
}

/* Configuração de ícone */
.round {
	border-radius: 100%;
	object-fit: cover;
}

/* Cabeçalho do componente */
nav.header div.right {display: flex}
nav.header, a.logo, div.right a, div.languages {align-items: center; display: flex; z-index: 1}
header {
	box-shadow: 0px 1.26px 10px 2px #000000bd;
	background-color: #17161a;
	transition: padding 600ms;
	position: fixed;
	padding: 20px;
	z-index: 10;
	width: 100%;
}

a.logo:hover img {
	width: 56.2px;
	margin: -16px -8px -3px 0px;
}

a.logo img {
	padding: 0px 6px 0px 6px;
	margin: -14px -8px -5px 0px;
	transition: width 600ms, margin 600ms;
	z-index: 10;
	width: 46px;
}

div.right a span {white-space: nowrap}
div.right a img {width: 36px; padding: 0px 6px 0px 6px}
div.right a img.profile {width: 42.6px; height: 42.6px}
div.right a {
	color: white;
	font-size: 20px;
}

div.right {margin-right: 40px; z-index: 0}
div.right a:hover {font-size: 16.2px}
div.right a {
	color: white;
	font-size: 0px;
	transition: font-size 260ms ease-out;
}

/* Campo de busca do cabeçalho */
div.search form {display: flex}
div.search {
	width: 100%;
	margin: auto;
	display: block;
	margin: 0px 26.6px 0px 26.6px;
}

div.search input {
	z-index: 2;
	width: 100%;
	border: 0px;
	border-radius: 6px 0px 0px 6px;
	padding: 10px 10px 10px 18.62px;
}

div.search input:focus {margin: 0px 50px 0px 60px}
div.search input:focus ~ button.float {
	top: 50%;
	left: 50%;
	z-index: 1;
	width: 100%;
	height: 100%;
	cursor: auto;
	position: fixed;
	transform: translate(-50%, -50%);
	transition: width 200ms ease-out;
	background-color: rgba(0, 0, 0, 0.6);
}

div.search button {
	padding: 8px;
	width: 60px;
	border: 0px;
	cursor: pointer;
	border-color: white;
	border-radius: 0px 6px 6px 0px;
}

/* Componente personalizado */
@keyframes wave {
	from {transform: rotate(0deg)}
	from {transform: rotate(360deg)}
}

div.wrapper {
	width: 122vh;
	height: 12vh;
	overflow: hidden;
	position: relative;
	margin: auto auto 2.69vh auto;
	border-radius: 5.26vh 5.26vh 2vh 2vh;
	transition: height 600ms, border-radius 600ms;
	background-image: linear-gradient(to top, #17161a 0%, #45434b 100%);
}

div.wrapper:hover {
	height: 15vh;
	border-radius: 4.26vh 4.26vh 2vh 2vh;
}

div.wave {
	top: -25%;
	left: 50%;
	width: 120vh;
	height: 160vh;
	position: absolute;
	margin-left: -70vh;
	margin-top: -130vh;
	border-radius: 35%;
	animation: wave 15s infinite linear;
	background-image: linear-gradient(to top, #4305ff 0%, #ff0062 100%);
}

div.wrapper div.title {
	transform: translate(-50%, -50%);
	position: absolute;
	font-size: 3.26vh;
	color: white;
	left: 50%;
	top: 50%;
}

/* Índice do componente */
/* Janela de conexão */
div.connection {justify-content: space-evenly; display: flex}
div.connection form {
	box-shadow: 0px 0px 12.62px -10px #000000;
	background-color: white;
	height: max-content;
	border-radius: 1vh;
	text-align: center;
	margin-bottom: 2vh;
	padding: 4.26vh;
	width: 45vh;
}

div.connection span.title {
	font-size: 3.62vh;
	display: block;
}

div.connection hr {
	border-top: 0.06vh solid rgb(0, 0, 0);
	margin-bottom: 2vh;
	margin-top: 2.60vh;
	width: 80%;
}

div.connection a {
	margin: auto;
	display: block;
	margin-top: 3.2vh;
	font-size: 2.70vh;
	width: max-content;
	color: rgb(86, 46, 206);
	transition: padding 600ms, color 600ms;
}

div.connection a:hover {
	padding: 0.60vh;
	color: rgb(25, 25, 87);
}

div.connection div {position: relative}
div.connection input {margin: 1.32vh 0vh}

div.profile input,
div.connection input,
div.profile textarea.description {
	width: 100%;
	border: none;
	outline: none;
	color: white;
	font-size: 1.92vh;
	border-radius: 1vh;
	padding: 1.82vh 2.26vh;
	box-sizing: border-box;
	border: 0.2vh solid #ccc;
	transition: border 600ms, color 260ms;
}

div.connection input:valid,
div.connection input:focus {color: #17161a}
div.connection input:focus {border: 0.2vh solid rgb(0, 0, 0)}
div.connection label {
	left: 2.62vh;
	font-size: 2vh;
	bottom: 3.2vh;
	position: absolute;
	border-radius: 20vh;
	pointer-events: none;
	background-color: white;
	transition: transform 600ms, padding 600ms, bottom 600ms;
}

div.connection input:valid ~ label,
div.connection input:focus ~ label {
	bottom: 6.82vh;
	padding: 0vh 1vh 0vh 1vh;
	transform: translateX(-2vh);
}

div.connection input#submit:hover, input#submit:hover {opacity: 90%; padding: 2.20vh}
div.connection input#submit,
div.profile input#submit {
	margin: 0;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 2.62vh;
	background-color: #17161a;
	transition: opacity 260ms, padding 260ms;
}

/* Janela de perfil */
div.profile {display: flex; justify-content: space-evenly}
div.profile div.profile_component {width: 55vh}

@keyframes rotation {
	0%   {transform: rotate(0deg)}
	100% {transform: rotate(360deg)}
}

div.profile div.picture {
	width: 26vh;
	height: 26vh;
	position: relative;
	transition: margin 600ms;
	margin: 0vh auto 0.25vh auto;
}

div.profile img {
    top: 0vh;
	left: 50%;
    bottom: 0vh;
    width: 20vh;
    height: 20vh;
    margin: auto;
    position: absolute;
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	transition: height 600ms, width 600ms;
}

div.profile div.spin {
    top: 0vh;
	left: 0vh;
	right: 0vh;
    bottom: 0vh;
	width: 22vh;
	height: 22vh;
    margin: auto;
	position: absolute;
	border-radius: 100vh;
	background-color: white;
	border: 0.32vh dotted #17161a;
	animation-iteration-count: infinite;
	animation: 8s linear 0ms 600 rotation;
	transition: height 600ms, width 600ms;
}

div.profile div.picture:hover {margin: 3vh auto 4vh auto}
div.profile div.picture:hover img {width: 23vh; height: 23vh}
div.profile div.picture:hover div.spin {
	border-style: dashed;
	left: -0.30vh;
	height: 26vh;
	width: 26vh;
}

div.profile input,
div.profile textarea.description {color: black}

div.profile textarea {text-align: justify}
div.profile span {
	font-size: 2vh;
	display: block;
	margin: 0vh 0vh 0.26vh 0.52vh;
}

div.profile div.profile_component div.email,
div.profile div.profile_component form.picture,
div.profile div.profile_component form.password,
div.profile div.profile_component form.information {
	background-color: white;
	border-radius: 1.26vh;
	margin-bottom: 3.62vh;
	padding: 2vh;
}

div.profile_component input,
div.profile_component textarea {
	margin: 0vh 0vh 0vh 0vh;
}

div.profile div.profile_component div.email {padding-bottom: 0vh}
div.profile input {margin: 0vh 0vh 2vh 0vh}

/* Botão de sobrenome */
div.lastname {
	display: flex;
	position: relative;
	margin: 1.62vh 0vh 2vh 0.62vh;
}

div.lastname div.checkmark {
	border: 0.1vh solid rgb(175, 174, 179);
	transition: background-color 120ms;
	background-color: #ccc;
	border-radius: 0.42vh;
	position: relative;
	height: 3.46vh;
	width: 3.46vh;
}

div.lastname div.checkmark span {
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	position: absolute;
	left: 50%;
	opacity: 0;
	width: 0.56vh;
	height: 1.42vh;
	transform: rotate(45deg);
	transition: opacity 120ms;
	border-right: 0.60vh solid white;
	border-bottom: 0.60vh solid white;
}

div.connection div.checkmark span {left: 35.62%; top: 13.92%}
div.lastname input:checked ~ div.checkmark {background-color: rgb(0, 0, 0)}
div.lastname input:checked ~ div.checkmark span {opacity: 100%}
div.lastname input {
	position: absolute;
	cursor: pointer;
	height: 3.26vh;
	width: 3.26vh;
	z-index: 1;
	opacity: 0;
	top: -40%;
	left: 0%;
}

div.profile div.lastname input {top: 0%}
div.profile div.checkmark span {top: 0.48vh; left: 0.7vh}
div.lastname div.subject {
	margin: 0.50vh 0vh 0vh 1.2vh;
	font-size: 2.42vh;
}

/* Rodapé do componente */
footer {width: 100%; background-color: #17161a}
footer nav {
	padding: 20px;
	display: table;
	margin: 0 auto;
}

footer nav span, span.author {
	color: white;
	padding: 6px;
	display: block;
	font-size: 16px;
	text-align: center;
}

nav div.social-media {display: flex}
nav.social-media {margin: auto; display: flex}
div.social-media a {padding: 0px 12px 0px 12px}
div.social-media a img {
	width: 20px;
	padding: 0px 0px 6px 0px;
	margin: 0 auto;
	display: block;
}

div.social-media a:hover span {font-size: 20px}
div.social-media a span {
	padding: 0px;
	font-size: 0px;
	transition: font-size 600ms;
}

footer div.flaticon {padding: 12px}
footer div.flaticon img:hover {width: 400px; padding: 20px 0px 30px 0px;}
footer div.flaticon img {
	width: 320px;
	margin: auto;
	display: block;
	padding: 10px 0px 20px 0px;
	transition: width 600ms, padding 600ms;
}
a.underline:hover {text-decoration-color: white; font-size: 20px; margin: 10px}
a.underline {
	text-underline-offset: 0.30em;
	text-decoration: transparent underline 0.06em;
	transition: text-decoration 260ms, font-size 640ms, margin 420ms;
	font-size: 16px;
	color: white;
}

/* Exibimento da mensagem */
@keyframes display {
	0% {
		bottom: -20%;
		opacity: 0%;
	}
}

button.message img {width: 1.62em; padding-right: 0.62em}
button.message:hover {padding: 1em; opacity: 26%}
button.message {
	border: 0px;
	left: 4.2vh;
	opacity: 100%;
	display: flex;
	bottom: 4.2vh;
	color: white;
	position: fixed;
	max-width: 30em;
	cursor: pointer;
	padding: 0.60em;
	font-size: 2.26vh;
	text-align: justify;
	align-items: center;
	word-wrap: break-word;
	border-radius: 0.62em;
	animation: 600ms ease-out display;
	background-color: rgb(39, 38, 43);
	transition: padding 600ms, opacity 260ms, bottom 600ms;
}

/* Rolagem do componente */
html {scroll-behavior: smooth}
.scrollButton img {width: 16em}
.scrollButton:hover {padding: 3vh; opacity: 42%}
.scrollButton {
	border: 0px;
	right: 4.2vh;
	bottom: 4.2vh;
	opacity: 100%;
	display: flex;
	position: fixed;
	cursor: pointer;
	padding: 2.26vh;
	font-size: 0.32vh;
	visibility: hidden;
	border-radius: 4.62em;
	background-color: rgb(39, 38, 43);
	transition: padding 600ms, opacity 260ms, bottom 600ms;
}